.container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.began{
    width:300px;
    height:auto;
//background-color: grey;
}
.btn{
    display:inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    background: #22BF57;
    border: 1px solid transparent;
    padding: 6px 10px;
    margin-left: 40px;

    border-radius: 2px;
}
.test-list {
    margin-bottom: 0;
}
.test-list > .test-list-item {
    position:relative;
    padding:20px 15px;
}
.test-list > .test-list-item:not (:last-child){
    border-bottom: 1px solid #dedede;
}
.questions{
    position:relative;
    margin-bottom: 15px;
}
.test-number {
    position:absolute;
    top:0;
    left:0px;
    display:inline-block;
    width:24px;
    height:24px;
    background-color: #22BF57;
    text-align:center;
    color:#fff;
    font-size:14px;
}
.question {
    position:relative;
    margin-bottom: 15px;
}

p {
    margin:0;
    min-height: 24px;
    padding-left:35px;
    font-size:14px;
    line-height: 20px;
    width:490px;
}
.skill-test-answers {
    background-color: #22BF57;
    border-color: #22BF57;
    box-shadow: none;
//color:#fff;
}
.skill-test-answers :hover{
    background-color: #718096;
}

.btn-block{
    //margin-top:8px;
}
.btn-default {
    display: block;
    background-color: #f7f7f7;
    font-size: 14px;
    line-height:22px;
    padding-top:8px;
    padding-bottom: 8px;
    white-space: normal;
    word-wrap: break-word;
}
.list-unstyled {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.right-answer {
    background-color: #22BF57;
}
.wrong-answer {
    background-color: red;
}
